body{
  color: grey;
}
.float-right{
  float: right;
}
.login{
  text-align: center;
}
.login h3{
  margin-top: 0px;
  font-weight: 200;
  font-family: sans-serif;
  color: white;
  height: 50pt;
  opacity: 0.8;
}
.login form{
  border: 1px solid lightgrey;
  padding: 5%;
  width: 50% !important;
  margin: auto;
  margin-top: 5%;
  position: relative;
}
.login-error, .new-event-error{
  color: red;
}
.modal{
  text-align: center;
}
.create-new{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.new-event-form{
  margin-top: 2%;
}
.new-event-form h3{
  text-align: left;
  color: grey;
}
